.ore-tracker {
  background-color: grey;
  .ore-log__wrapper {
    display: inline-flex;
    align-content: space-between;
    padding: 2rem;
    .ore-log {
      select {
        margin-right: .5rem;
        font-size: 1.4rem;
      }
      input[type="text"] {
        display: inline-block;
        width: 100px;
        margin-right: .5rem;
        font-size: 1.4rem;
      }
      span {
        font-size: 2rem;
        vertical-align: sub;
      }
    }
  }
  button {
    margin: 2rem 0;
  }
}

.sot-content {
  margin-bottom: 4rem;
  input[type="text"], textarea {
    font-size: 1.4rem;
  }
}

.sot-description {
  p {
    font-size: 16px;
  }
}



